  </div> <!-- Close app-container -->

  <!-- Client-side JavaScript -->
  <script src="/js/ui.js"></script>
  <script src="/js/forms.js"></script>
  <script src="/js/charts.js"></script>
</body>
</html>
